{{ define "main" }}

<section class="grid place-items-center py-32 relative">
  <svg class="w-1/2 transform rotate-6" viewbox="0 0 190 75" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M31.6 60.001h-26c-1.533 0-2.85-.567-3.95-1.7S0 55.834 0 54.301v-1.9c0-3.733 1.1-7.167 3.3-10.3l25.9-36.5c2.122-2.957 4.957-4.489 8.504-4.594.132-.004.264-.006.396-.006h5c1.533 0 2.85.567 3.95 1.7s1.65 2.467 1.65 4v39.2c0 .533.3.8.9.8h4a5.46 5.46 0 0 1 3.947 1.648l.053.052c1.133 1.133 1.7 2.467 1.7 4v1.9a5.46 5.46 0 0 1-1.647 3.947l-.053.053c-1.133 1.133-2.467 1.7-4 1.7h-4c-.12-.002-.24.014-.356.045a.687.687 0 0 0-.505.522 1.33 1.33 0 0 0-.039.333v7.4c0 1.533-.55 2.867-1.65 4a5.585 5.585 0 0 1-1.905 1.314c-.65.26-1.345.392-2.045.386h-5c-1.533 0-2.85-.567-3.95-1.7s-1.65-2.467-1.65-4v-7.4c.002-.12-.013-.24-.044-.356a.69.69 0 0 0-.522-.505 1.324 1.324 0 0 0-.334-.039Zm130 0h-26c-1.533 0-2.85-.567-3.95-1.7s-1.65-2.467-1.65-4v-1.9c0-3.733 1.1-7.167 3.3-10.3l25.9-36.5c2.122-2.957 4.957-4.489 8.504-4.594.132-.004.264-.006.396-.006h5c1.533 0 2.85.567 3.95 1.7s1.65 2.467 1.65 4v39.2c0 .533.3.8.9.8h4a5.464 5.464 0 0 1 3.947 1.648l.053.052c1.133 1.133 1.7 2.467 1.7 4v1.9a5.464 5.464 0 0 1-1.647 3.947l-.053.053c-1.133 1.133-2.467 1.7-4 1.7h-4c-.12-.002-.24.014-.356.045a.688.688 0 0 0-.505.522c-.027.109-.04.22-.039.333v7.4c0 1.533-.55 2.867-1.65 4a5.58 5.58 0 0 1-1.905 1.314c-.65.26-1.345.392-2.045.386h-5c-1.533 0-2.85-.567-3.95-1.7s-1.65-2.467-1.65-4v-7.4c.002-.12-.013-.24-.044-.356a.69.69 0 0 0-.522-.505 1.32 1.32 0 0 0-.334-.039Zm-55.337 13.763a22.683 22.683 0 0 0 11.887-7.563c3.463-4.262 5.669-10.478 6.616-18.647a87.47 87.47 0 0 0 .534-10.053c0-1.125-.018-2.25-.054-3.373-.378-11.527-2.743-19.97-7.096-25.327-4.767-5.867-12.05-8.8-21.85-8.8-.51 0-1.02.008-1.529.025-3.073.1-5.884.504-8.434 1.213A22.685 22.685 0 0 0 74.45 8.801c-3.463 4.263-5.668 10.478-6.615 18.647a87.606 87.606 0 0 0-.535 10.053c0 1.125.018 2.25.054 3.374.378 11.527 2.743 19.97 7.096 25.326 4.767 5.867 12.05 8.8 21.85 8.8.51 0 1.02-.008 1.53-.024 3.073-.1 5.884-.504 8.433-1.213Zm-1.113-55.363a11.187 11.187 0 0 0-2.301-3.103c-1.725-1.598-3.908-2.397-6.549-2.397a10.213 10.213 0 0 0-4.057.774c-1.6.685-2.94 1.824-4.018 3.418a13 13 0 0 0-.775 1.308 18.21 18.21 0 0 0-1.369 3.704c-.671 2.535-1.114 5.718-1.329 9.549a104.891 104.891 0 0 0-.152 5.847c0 9.067.95 15.433 2.85 19.1.581 1.16 1.36 2.21 2.301 3.103 1.725 1.598 3.908 2.397 6.549 2.397 1.39.021 2.771-.242 4.057-.773 1.6-.685 2.94-1.824 4.019-3.419.283-.42.542-.857.774-1.308a18.184 18.184 0 0 0 1.37-3.704c.671-2.535 1.113-5.717 1.328-9.548.105-1.948.156-3.898.152-5.848 0-9.067-.95-15.433-2.85-19.1Zm57.05 3.3-17.2 24.8v.1c0 .014.001.027.005.04.009.03.028.048.058.056a.15.15 0 0 0 .037.004h16.5c.114.002.228-.01.34-.035.373-.089.56-.344.56-.765v-24.2a.17.17 0 0 0-.005-.039.073.073 0 0 0-.058-.056.147.147 0 0 0-.037-.005.584.584 0 0 0-.066.004.206.206 0 0 0-.101.032.084.084 0 0 0-.025.028.09.09 0 0 0-.008.036Zm-130 0L15 46.501v.1c0 .014.002.027.005.04.009.03.028.048.058.056a.148.148 0 0 0 .037.004h16.5c.114.002.228-.01.34-.035.373-.089.56-.344.56-.765v-24.2a.146.146 0 0 0-.005-.039.074.074 0 0 0-.058-.056.145.145 0 0 0-.037-.005.582.582 0 0 0-.066.004.206.206 0 0 0-.101.032.076.076 0 0 0-.033.064Z"
      fill="url(#a)" />
    <defs>
      <linearGradient id="a" x1="0" y1="37.501" x2="189.3" y2="37.501" gradientUnits="userSpaceOnUse">
        <stop stop-color="#EC008C" />
        <stop offset="1" stop-color="#FC6767" />
      </linearGradient>
    </defs>
  </svg>
  <svg class="absolute w-1/2 bottom-44 text-white dark:text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="currentColor" fill-opacity="1"
      d="M0,288L48,250.7C96,213,192,139,288,96C384,53,480,43,576,74.7C672,107,768,181,864,186.7C960,192,1056,128,1152,138.7C1248,149,1344,235,1392,277.3L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
  </svg>
  <div class="mt-16 z-10">
    <a class="px-6 py-4 rounded-lg bg-gray-100 text-gray-800 hover:text-gray-900 hover:bg-gray-200 transition-colors"
      href="{{ .Site.BaseURL }}">You are lost.</a>
  </div>
</section>

{{ end }}
