<h2> Ingredients </h2>

<div class="rangeslider">
  <input type="range" min="10" max="100" value="40"
                 class="noMeals" id="amount">
</div>

<p id="amount"></p>

<p id="result"></p>

{{ $inglist := resources.Get "js/ingredients.js" }}
{{ $slider := resources.Get "js/slider.js" }}

{{ $concatjs := slice $inglist $slider | resources.Concat "js/scripts.js" | resources.Minify }}

<script src="{{ $concatjs.RelPermalink }}"></script>
